
.input {
    position: relative;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-family: inherit;
    border-radius: 8px;
}
.p {
    font-size: 18px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
